@use "variables" as v;


//Mixins responsive
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

//Mixins grid

@mixin grid($columnas:2,$gap:5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

//Resetear Lista

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;

}